.p-wrapper{
  margin-top: 10%;

}
.p-idfimage{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  margin-right:45%;
  position:sticky;
}
.p-Mappimg{
  max-width: 50%;
  max-height: 100%;
  margin: auto;
  display: block;
  margin-right:45%;
  position:sticky;
}
.p-ytsimg{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  margin-right:45%;
  position:sticky;
}
.p-PPimg{
  max-width: 50%;
  max-height: 100%;
  margin: auto;
  display: block;
  margin-right:45%;
  position:sticky;

}
.p-yts{
  margin-top: 20%;
}
.p-Portfolio{
  margin-top: 25%;
}
/*---------------------IDF---------------------- */
.p-idfimage{
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
.p-idfimage{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}
.p-idfimage:hover {
  filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.1);
}
.p-IDF{
  margin-left:57%;
  margin-top: 3%;
}
/*-----------------------MApp-------------------*/
.p-Mappimg{
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
.p-Mappimg{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}
.p-Mappimg:hover {
  filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.1);
}
.p-Mapp{
  margin-left:57%;
}
/*---------------------YTS---------------------- */
.p-ytsimg{
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
.p-ytsimg{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}
.p-ytsimg:hover {
  filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.1);
}
.p-yts{
  margin-left:57%;
}
/*---------------------PP---------------------- */
.p-PPimg{
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
.p-PPimg{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}
.p-PPimg:hover {
  filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.1);
}
.p-Portfolio{
  margin-left:57%;
}
.p-heading{
  
	background: linear-gradient(-225deg, #83f4f4 0%, #f2c9f1 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  text-align: center;
  margin-left:27%;
  font-size: 200%;
  font-family:Arial, Helvetica, sans-serif
}
.p-icon{
  font-size: 200%;
}