.e-first{
    color:white;
  }
.e-second{
    color:white;
  }
.e-head{
    color:white;
    text-align: center;
    margin-top:10%;
  }
.e-tenure1{
    color:white;
  }
.e-tenure2{
    color:white;
}
.e-company1{
    text-align: center;
}
h1{
  color:white;
  margin-top:10rem;
  margin-left: 70px;
}
.e-heading{
	background: linear-gradient(-225deg, #83f4f4 0%, #f2c9f1 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  text-align: center;
  margin-left:30%;
  font-size: 165%;
  font-family:Arial, Helvetica, sans-serif;
  
}
#Experience{
  margin-top: 5%;
}
.e-icon{
  font-size: 120%;
}
.e-accordion{
  margin-top: 2%;
}