.e-first{
    color:white;
  }
.e-second{
    color:white;
  }
.e-head{
    color:white;
    text-align: center;
    margin-top:10%;
  }
.e-tenure1{
    color:white;
  }
.e-tenure2{
    color:white;
}
.e-company1{
    text-align: center;
}
h1{
  color:white;
  margin-top:10rem;
  margin-left: 70px;
}